@use "modules/modules";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../../images/bg.jpg) repeat;
    font-family: 'Open Sans', sans-serif;
}

.header {
    &__contact-bar {
        width: 100%;
        background: modules.$lightblack;
        color: modules.$lightbrown;
        font-family: 'Oswald', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        display: none;
    }

    &__mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        
        &__logo img {
            width: 150px;
        }
    }
}

.nav {
    width: 75%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -75%;
    background: white;
    padding: 30px;
    transition: .5s;

    &__links {
        list-style: none;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        padding: 10px 0;
        border-bottom: 2px dotted modules.$darkbrown;

        a {
            text-decoration: none;
            color: black;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    &__logo {
        display: none;
    }
}

.nav-open-btn {
    width: 30px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    top: 36px;
    right: 30px;

    span {
        width: 100%;
        height: 2px;
        background: white;
    }
}

.nav-close-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: modules.$lightblack;
    padding: 50px 0 0;

    &__logo img {
        width: 200px;
    }

    &__nav {
        margin: 30px 0;

        &__box {
            display: flex;
            justify-content: space-between;
    
            a {
                width: 100px;
                text-decoration: none;
                text-align: center;
                color: white;
                margin: 10px 0;
                font-family: 'Oswald', sans-serif;
                transition: .3s;
                letter-spacing: 1px;

                &:hover {
                    color: modules.$darkbrown;
                }
            }
        }
    }

    &__note {
        color: rgb(190, 190, 190);
        text-align: center;
        width: 75%;
        margin-bottom: 30px;
    }

    &__social {
        color: white;
        font-size: 20px;
        margin-bottom: 30px;
        
        i {
            margin: 0 5px;
        }
    }

    &__footnote {
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: modules.$darkbrown;
        border-top: 2px dotted modules.$darkbrown;
        padding: 25px 0;
        
        a {
            text-decoration: none;
            color: modules.$darkbrown;
        }
    }
}

main {
    height: 500px;
}

@import 'media/media-query-1024';